article.format-standard {

    h1, h2, h3, h4, h5, h6, p {
        font-family: $font_one;
    }
}

.blog_row {
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
        margin-bottom: 25px;
    }
}

.left {
    background-color: $white;
    padding: 50px;
    box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .75);
    border-radius: 4px;

    &__single {

        &:last-child {

            .blog_post {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }

            .single_search {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 25px;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 25px;
    }
}

.right {

}

.blog_post {
    border-bottom: 1px solid $off-white;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    &__left {
        flex: 1 1 50%;
        display: flex;
        flex-flow: row wrap;

        @media screen and (max-width: 1100px) {
            flex: 1 1 100%;
        }
    }

    &__right {
        flex: 1 1 40%;
        justify-content: flex-end;
        text-align: right;

        @media screen and (max-width: 1100px) {
            padding-top: 25px;
            flex: 1 1 100%;
            text-align: left;
        }
    }


    &__title {
        font-size: 1.5em;
        letter-spacing: 0;
        margin-bottom: 20px;
        flex: 1 1 100%;

        a {
            text-decoration: none;
        }
    }

    &__excerpt {
        flex: 1 1 100%;

    }

    &__author {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
        display: inline-block;


        &--name {
            text-transform: capitalize;
            color: $teal;
            font-weight: 500;

            a {
                text-decoration: none;
            }

        }

    }

    &__date {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 400;
        color: $black;
    }

    &__image {

        .theme-responsive-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border: 1px solid $border;
            border-radius: 1px;
        }
    }

    &__content_excerpt {
        p {
            margin-bottom: 0;
        }
        margin-bottom: 1em;
    }
}

.sidebar {

    &__search {
        width: 100%;
        display: block;
        overflow: hidden;
        margin-bottom: 15px;

        form {
            display: block;
            padding: 10px 15px;
            border: 1px solid $xl-gray;
            margin-bottom: 0;
            margin-top: 0;
            position: relative;
            height: 55px;
            border-radius: 4px;

            @media screen and (max-width: 1100px) {
                height: auto;
            }

            input {
                border: none;
                width: 90%;
                height: 100%;
                font-size: 1.0em;

                @media screen and (max-width: 767px) {
                    width: 96%;
                }
            }

            .search-icon {
                position: absolute;
                right: 15px;
                top: 15px;
                display: inline;
                color: $gray;
                font-size: 1.125em;
                justify-content: right;
                text-align: right;
                padding: 0;

                @media screen and (max-width: 1100px) {
                    top: 11px;
                }


                @media screen and (max-width: 991px) {
                    display: none;
                }

                @media screen and (max-width: 767px) {
                    display: inline;
                }
            }
        }
    }

    &__top {
        background-color: $white;
        padding: 25px;
        margin-bottom: 25px;
        position: relative;
        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .75);
        border-radius: 4px;
    }

    &__bottom {
        background-color: $white;
        padding: 25px;
        position: relative;
        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .75);
        border-radius: 4px;
    }

    &__title {
        font-weight: 400;
        color: $teal;
        margin-bottom: 10px;
        text-transform: capitalize;

        &--bold {
            font-weight: 600;
            padding-bottom: 25px;

            @media screen and (max-width: 767px) {
                padding-bottom: 15px;
            }
        }

        &--red {
            color: $mktoRed;
        }
    }

    &__placeholder {
        margin-bottom: 10px;
    }

    &__button {
        @include button-style($white, $navy, $navy, .75);
        width: 100%;
        margin: 0;

        a {
            font-weight: 600;
            //color: $white;
            text-align: center;
            text-transform: unset;
            font-size: 1.25em;
            padding: 15px 30px 14px;

            @media screen and (max-width: 1100px) {
                font-size: 1.0em;
                padding: 10px 20px 9px;
            }
        }

        &:hover {
            background-color: rgba($white, 0);

            a {
                color: $navy;
                border-color: $navy;
                border-radius: 4px;
            }
        }
    }
}

.sidebar_post {

    &__wrap {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $off-white;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

    }

    &__title {
        margin-bottom: 15px;

        a {
            text-decoration: none;
        }
    }

    &__excerpt {

        p {
            margin: 0;
        }
    }
}

.blog_menu {
    @include tab_nav();
}