.banner-title {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font_two;
        color: $white;
        padding-top: 125px;
        text-align: center;
        justify-content: center;
    }
}

.single-format-standard {
    .full {
        h1, h2, h3, h4 {
            font-family: $font_two;
            font-weight: 300;

            img {
                max-width: 100%;
                height: auto;
            }

            strong {
                font-weight: 600;
            }
        }

        h5, h6 {
            font-family: $font_two;
            font-weight: 300;

            img {
                max-width: 100%;
                height: auto;
            }

            strong {
                font-weight: 600;
            }
        }

        p {
            @media screen and (max-width: 991px) {
                word-wrap: break-word;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .single_post {
        //padding-top: 50px;

        //These are the styles for the main content area
        &__top {

        }

        &__title {
            font-size: 1.75em;
            letter-spacing: 0;
            margin-bottom: 20px;
            font-weight: 400;
            color: $teal;

            a {
                text-decoration: none;
            }

        }

        &__author {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 0;
            display: inline-block;


            &--name {
                text-transform: capitalize;
                color: $teal;
                font-weight: 500;

                a {
                    text-decoration: none;
                }

            }

        }

        &__date {
            display: inline-block;
            font-size: 18px;
            margin-bottom: 0;
            font-weight: 400;
            color: $black;
        }

        &__image {
            text-align: center;

            .theme-responsive-image {
                margin-bottom: 20px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

        }

        &__content {
            margin-bottom: 20px;

            p {
                margin-bottom: 20px;
            }
        }

        &__share {

        }

        //These are the styles for the most Recent Related Stories
        &__bottom {
        }
    }

    .related_post {
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid $border;

        &__recent {
            color: $teal;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        &__row {
            margin: 0 -10px;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
        }

        &__single {
            flex: 0 0 32%;
            padding: 0 10px;
        }

        &__image {
            display: block;
            padding-bottom: 10px;

        }

        &__title {
            display: block;
            color: $black;
            font-size: 1.25em;
            text-decoration: none;
            width: 100%;
            font-weight: 500;
            padding-bottom: 10px;

        }

        &__link {
            display: block;
            font-size: 0.8em;
            text-transform: uppercase;
            text-decoration: none;
            width: 100%;
            font-weight: 500;

            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f054";
            }
        }
    }
}