.post-navigation {
    @include pagination;

    //ul element
    .page-numbers {
        @media screen and (max-width: 575px) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        li {
            @media screen and (max-width: 575px) {
                margin: 2px;
                max-width: 60px;

                a,
                .current,
                .dots{
                    min-width: 60px;
                    max-width: 60px;
                }

                a.next,
                a.prev {
                    margin: 0 !important;
                }
            }
        }
    }
}