.blog_banner,
.title_banner,
.template_banner,
.search_banner,
.leader_banner,
.banner_404
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid $off-white;
    font-family: $font_one;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #555459;

    @media screen and (max-width: 1024px) {
        padding: 20px 15px;
    }

    &__title {

        text-align: center;
        justify-content: center;
        font-family: $font_one;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
            font-size: 2.375em;
        }

        @media screen and (max-width: 500px) {
            font-size: 2.25em;
        }
    }
}