.builder-block-slider.fade-in-out {

    .builder-block-slide {

    }
}

.builder-section {
    overflow: hidden;

    .builder-layout {
        @import "builder/layouts";

    }

    .builder-component {
        @import "builder/components";
    }
}