.eyebrow-buttons {
    display: inline-block;

    .top-link {
        color: $white;
        margin: 0 5px;
        font-size: 18px;
        padding: 10px 15px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;

        @include media("<=small") {
            display: none;
        }

        &.eyebrow_button_color {
            &.black {
                @include button-style($white, $black, $black, .75) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    margin: 0 5px 0 0;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 1.0em;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            &.red {
                @include button-style($white, $navy, $navy, .75) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    margin: 0 5px 0 0;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 1.0em;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            &.blue {
                @include button-style($white, $blue, $blue, .75) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    margin: 0 5px 0 0;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 1.0em;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}