/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

html.with-featherlight {
    /* disable global scrolling when featherlights are visible */
    overflow: hidden;
}

.featherlight {
    display: none;

    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647; /* z-index needs to be >= elements on the site. */

    /* position: centering content */
    text-align: center;

    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;

    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;

    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;

    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;

    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;

    /* styling */
    background: $white;
    cursor: auto;

    /* reset white-space wrapping */
    white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
    display: none;
}

.featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;

    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;

    /* styling */
    cursor: pointer;
    text-align: center;
    font: $font_one;
    background: $white; /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: $black;
    border: none;
    padding: 0;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.featherlight .featherlight-image {
    /* styling */
    width: 100%;
}


.featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.featherlight iframe {
    /* position */
    position: absolute;
    top: 0;
    left:0;

    /* dimensions */
    width: 100%;
    height: 100%;

    /* styling */
    border: none;
}

.featherlight-iframe .featherlight-content{
    /* dimensions: 1140px prevents iframe from spanning the full width of the browser */
    width: 70%;

    /* spacing */
    margin: 0;
    padding: 42.5% 0 0 0;

    background:transparent;
}

.featherlight-iframe .featherlight-inner{
    /* positioning */
    display: block;
    float: left;

    /* dimensions */
    width: 100%;
}
.featherlight .featherlight-inner:after{
    /* dimensions */
    content: "";
    float: left;
    width: 100%;
    padding-top: 57%;
    display: block;
    position: relative;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.featherlight .featherlight-inner:after{
    /* dimensions */
    content: "";
    float: left;
    width: 100%;
    padding-top: 57%;
    display: block;
    position: relative;
}
/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        /* dimensions: maximize lightbox with for small screens */
        margin-left: 0;
        margin-right: 0;
        max-height: 98%;

        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }

    .featherlight-iframe .featherlight-content{
        /* dimensions: 1140px prevents iframe from spanning the full width of the browser */
        width: 70%;

        /* spacing */
        margin: 0;
        padding: 42.5% 0 0 0;
    }
}

/* hide non featherlight items when printing */
@media print {
    html.with-featherlight > * > :not(.featherlight) {
        display: none;
    }
}

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight-next,
.featherlight-previous {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    /* preventing text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* IE9 hack, otherwise navigation doesn't appear */
    background: rgba(0, 0, 0, 0);
}

.featherlight-previous {
    left: 25px;
    right: 80%;
}

.featherlight-next:hover,
.featherlight-previous:hover {
    background: rgba(255, 255, 255, 0.25);
}


.featherlight-next span,
.featherlight-previous span {
    display: none;
    position: absolute;

    top: 50%;
    left: 5%;
    width: 82%;

    /* center horizontally */
    text-align: center;

    font-size: 80px;
    line-height: 80px;

    /* center vertically */
    margin-top: -40px;

    text-shadow: 0px 0px 5px $white;
    color: $white;
    font-style: normal;
    font-weight: normal;
}

.featherlight-next span {
    right: 5%;
    left: auto;
}


.featherlight-next:hover span,
.featherlight-previous:hover span {
    display: inline-block;
}

.featherlight-swipe-aware .featherlight-next,
.featherlight-swipe-aware .featherlight-previous {
    display: none;
}

/* Hide navigation while loading */
.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
    display: none;
}

/* Hide navigation in case of single image */
.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
.featherlight-first-slide.featherlight-last-slide .featherlight-next {
    display: none;
}


/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
    .featherlight-next:hover,
    .featherlight-previous:hover {
        background: none;
    }
    .featherlight-next span,
    .featherlight-previous span {
        display: block;
    }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }

    .featherlight-previous {
        left: 10px;
        right: 85%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        margin-top: -30px;
        font-size: 40px;
    }
}

/* Styles and transition effects for Lightbox enabled images, including arrow in top right */
.builder-component-image.js-triggers-lightbox {
    position: relative;
    transition: opacity 0.2s ease-in-out;


    &:hover {
        opacity: .80;
    }

    .image-subcontainer {
        position: relative;
        display: inline-block;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:after {
            position: absolute;
            background-image: url('../../images/dark_corner_arrow.png');
            opacity: 0;
            background-size: 30px;
            width: 25px;
            height: 25px;
            content: '';
            top: -2px;
            right: -2px;
            background-repeat: no-repeat;
        }

        &:hover {
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }
    }
}

.image__wrap.js-triggers-lightbox {
    position: relative;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: .80;
    }

    .image-subcontainer {
        position: relative;
        display: inline-block;
        opacity: 1;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:after {
            position: absolute;
            background-image: url('../../images/dark_corner_arrow.png');
            opacity: 0;
            background-size: 30px;
            width: 25px;
            height: 25px;
            content: '';
            top: -8px;
            right: -8px;
            background-repeat: no-repeat;
        }

        &:hover {
            opacity: 1;

            &:after {
                opacity: 1;
            }
        }
    }
}

.featherlight-loading {

    .featherlight-content {
        min-height: 150px;
        width: 150px;
        overflow: hidden !important;
        position: relative;
        .featherlight-close-icon {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            margin-left: -30px;
            margin-top: -30px;
            animation: rotation 800ms infinite linear;
            border: 4px solid rgba(0, 0, 0, 0.2);
            border-left-color: #000;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            text-indent: -10000px;
        }
    }
}



@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}