.floating-buttons {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 0;
    pointer-events: none;

    @media screen and (max-width: 991px) {
        top: initial;
        bottom: 0;
        left: 0;
        width: auto;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }

    .rotator {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding-left: 200px;
        transform: rotate(-90deg);
        position: absolute;
        width: 100vh;
        bottom: 0;
        right: 0;
        transform-origin: bottom right;

        @media screen and (max-width: 991px) {
            transform: rotate(0deg);
            width: auto;
            position: initial;
            display: flex;
            flex-flow: row wrap;
        }
    }

    a {
        display: inline-block;
        background-color: $blue;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        padding: 10px 25px;
        text-align: center;
        font-weight: 400;
        pointer-events: auto;


        //&.floating_buttons_color {
        //    &.lt-blue {
        //        background-color: $lt-blue;
        //    }
        //    &.blue {
        //        background-color: $blue;
        //    }
        //    &.green {
        //        background-color: $navy;
        //    }
        //}



        @media screen and (max-width: 991px) {
            flex: 0 1 50%;
            margin-bottom: 0;
            text-align: center;
            padding: 7px 10px;
        }
    }
}