.site_footer {
    color: $white;
    background-color: $teal;
    position: relative;
    z-index: 10;
    font-size: 100%;
    padding-bottom: 2em;

    @media screen and (max-width: 575px) {
        //margin-top: 5%;
    }

    &__top {

    }

    &__social-icons {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        font-size: 200%;
        color: $white;
        border-radius: 100%;
        text-decoration: none;
        padding: 13px 20px;
        margin: 0 30px;
        transform: translateY(-50%);
        background-color: $teal;

        &:hover {
            text-decoration: none;
            color: $white;
        }

        .fab {
            width: 35px;
            text-align: center;
        }


        @media screen and (max-width: 500px) {
            transform: translateY(-46%);
        }

        @media screen and (max-width: 460px) {
            margin: 0 20px;
            transform: translateY(-45%);
        }

        @media screen and (max-width: 435px) {
            transform: translateY(-42%);
        }

        @media screen and (max-width: 425px) {
            transform: translateY(-42%);
            padding: 10px 16px;
            font-size: 175%;

            .fab {
                width: 30px;
            }
        }

        @media screen and (max-width: 385px) {
            margin: 0 10px;
        }

        @media screen and (max-width: 350px) {
            font-size: 160%;
            transform: translateY(-38%);

            .fab {
                width: 25px;
                text-align: center;
            }
        }
    }

    &__middle {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0 -5px;

        @media screen and (max-width: 575px) {
            justify-content: center;
        }
    }

    &__menu {
        flex: 1 1 25%;
        padding: 0 10px;

        @media screen and (max-width: 991px) {
            flex: 1 1 50%;
            padding-bottom: 15px;
        }

        @media screen and (max-width: 575px) {
            flex: 1 1 100%;
            padding: 0 10px;
        }

        &--1 {
            padding-left: 0;

            @media screen and (max-width: 991px) {
                padding-left: 10px;
            }
        }

        &--3 {
            @media screen and (max-width: 991px) {
                padding-bottom: 0;
            }
        }

        &--4 {
            padding-right: 0;

            @media screen and (max-width: 991px) {
                padding-right: 10px;
            }

            @media screen and (max-width: 991px) {
                padding-bottom: 0;
            }
        }
    }

    &__menu_title {

        @media screen and (max-width: 575px) {
            padding-top: 20px;


            &--1 {
                padding-top: 0;
            }
        }

        a {
            color: $white;
            padding: 0;
            font-weight: 500;
            font-size: 15px;

            @media screen and (max-width: 575px) {
            }
        }

        span {
            @media screen and (max-width: 575px) {
                display: none;
            }
        }
    }

    &__nav {

        .menu {
            list-style: none;
            padding: 0 0 0;
            margin: 0;

            & > .menu-item {
                font-size: 12px;

                padding-left: 12.500001px;
                text-indent: -12.500001px;

                &:before {
                    content: "\f105";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 600;
                    padding-right: 7px;
                    color: rgba($white, .8);
                }

                & > a {
                    color: white;
                    font-weight: 400;
                    color: rgba($white, .80);

                    &:hover {
                        color: rgba($white, 1);
                    }
                }

                & > .sub-menu {
                    list-style-position: outside;
                    list-style-type: circle;
                    padding: 0 0 0 19px;

                    & > .menu-item {
                        padding-left: 0;
                        text-indent: 0;

                        & > a {
                            color: white;
                            font-weight: 400;
                            color: rgba($white, .80);

                            &:hover {
                                color: rgba($white, 1);
                            }
                        }

                    }
                }
            }

            & > .menu-elements__spacer {
                &:before {
                    display: none;
                }
            }

            & > .menu-elements__title {
                padding: 0;
                text-indent: 0;

                &:before {
                    display: none;
                }

                & > .menu-elements__title {
                    font-weight: 500 !important;
                    font-size: 15px;
                }

                & > .sub-menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    & > .menu-item {
                        padding-left: 12.500001px;
                        text-indent: -12.500001px;

                        &:before {
                            content: "\f105";
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 600;
                            padding-right: 7px;
                            color: rgba($white, .8);
                        }
                    }

                }
            }
        }
    }

    &__bottom {
        margin-top: 24px;

        @media screen and (max-width: 991px) {
            margin-top: 20px;
        }
    }

    &__contact-info {
        flex: 1 1 100%;
        text-align: center;
        color: $white;
        font-size: 130%;

        @media screen and (max-width: 400px) {
            font-size: 120%;
        }
    }

    &__email-address {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &__contact-icon {
        margin-right: 10px;

        &--phone {
            transform: scaleX(-1);
            font-size: 80%;
        }
    }

    &__link {
        border-right: 1px solid $white;
        display: inline-block;
        padding: 0 30px;
        line-height: 1;

        &:last-child {
            border-right: 0;
        }

        @media screen and (max-width: 575px) {
            padding: 0 20px;
        }

        @media screen and (max-width: 425px) {
            border-right: 0;
        }

        @media screen and (max-width: 375px) {
            padding: 0 10px;
        }

        &--phone {
            a {
                @include fancy-link($white);
            }

            @media screen and (max-width: 685px) {
                border-right: 0;
            }

            @media screen and (max-width: 360px) {
                padding: 0;
            }
        }

        &--privacy {
            a {
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &__legal {
        text-align: center;
        margin-top: 14px;
    }
}