//Gravity Form Styles
.gform_wrapper,
.gf_browser_chrome,
.gf_browser_safari {

    margin: 0 !important;

    form {
        max-width: 400px;
        margin: 0;

        .gform_heading {
            background: $white;
            text-align: left;
            padding: 10px 5px;
            margin: 0;

            .gform_title {
                color: $black;
                font-weight: 400;
                margin: 0;
                font-size: 200%;
                text-transform: uppercase;
            }
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
            margin: auto;
        }

        .gform_body {
            padding: 0;

            @media screen and (max-width: 500px) {

            }

            .gform_fields {
                padding: 0 !important;

                .gfield {
                    margin: 0;

                    .gfield_label {
                        margin: 0;
                        font-weight: 500;
                        color: $black;
                    }

                    .ginput_container {
                        margin: 0;

                        span {
                            padding-top: 0 !important;
                        }

                        input, textarea {
                            width: 100%;
                            border: 1px solid $border !important;
                            padding: 10px 10px !important;
                            margin: 5px 0 15px;
                            border-radius: 2px;
                            line-height: 1;
                        }

                        textarea {
                            padding: 5px 10px !important;
                            line-height: 1.15;
                        }

                        select {
                            line-height: 1;
                        }

                        .name_first, .name_last {
                            input {
                                margin: 0;
                            }

                            label {
                                margin: 0;
                            }

                            margin-bottom: 14px;

                            @media screen and (max-width: 757px) {
                                width: 100% !important;
                            }
                        }

                        .gfield_checkbox {
                            li {

                                label {
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        .gfield_select {
                            border: 1px solid $border !important;
                            padding: 10px 10px !important;
                            width: 100%;
                            margin-bottom: 15px;
                        }

                    }

                    .ginput_container_fileupload {

                        input {
                            border: none !important;
                            padding: 0 !important;
                        }
                    }

                    .ginput_container_text {
                        margin-bottom: 15px;
                        input {
                            margin-bottom: 0;
                        }
                    }

                    .ginput_container_address {
                        .address_country {
                            padding: 0 !important;
                            width: 100%;

                            select {
                                padding: 10px 10px !important;
                                border: 1px solid $border !important;
                            }
                        }
                    }
                }

                .field_sublabel_hidden_label {
                    padding: 0;
                }
            }
        }

        .gform_footer {
            text-align: left;
            padding: 0;
            margin: 0;

            input[type="submit"] {
                @include button-style($white, $teal, $teal, .75);
                color: $white;
                margin: 0;
                padding: 10px 20px 9px;
                width: 35%;
                font-family: $font_one;
                text-transform: uppercase;
                font-weight: 600;
                transition: all 150ms ease-in-out;
                line-height: 1;

                &:hover {
                    color: $teal !important;
                    background-color: rgba($white, 1) !important;
                    cursor: pointer !important;
                }

                @media screen and (max-width: 1024px) {
                    width: 50%;
                }
                @media screen and (max-width: 641px) {
                    width: 100%;
                    line-height: 1 !important;
                }
            }
        }

        .gfield.field_sublabel_below.field_description_below {
            text-indent: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    #gform_8 {
        .name_first, .name_last {
            width: 100% !important;

            label {
                margin: 0 0 10px;
            }
        }
    }
}


