html {
    overflow-x: hidden;
}

.mobile-nav {
    display: none;
}

.featherlight-content {
    max-width: 70%;

    .lightbox-content {
        font-family: $font_one;
    }
}

body {
    margin: 0;
    overflow-x: hidden;
    background: $back-gray;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $font_one;

    &.admin-bar {
        .site_header {
            top: 32px;
        }
    }


    //Setting default font for ALL elements on the site
    h1, h2, h3, h4, h5, h6, p, img,
    a, ul, ol, li, a, span, div {
        font-family: $font_one;
    }

    a {
        transition: color .25s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
    }

}

.u-builder-container-width {
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.u-hidden {
    visibility: hidden;
}

.ns-typography {

}

.search_row {
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
        margin-bottom: 25px;
    }

    .left {
        padding-bottom: 49px;
    }
}

.single_search {
    border-bottom: 1px solid $off-white;
    padding-bottom: 27px;
    margin-bottom: 26px;

    @media screen and (max-width: 767px) {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .entry {
        text-align: right;

        p {
            margin-bottom: 0;
            text-align: left;
        }

        .read_more__button {
            @include button-style($white, $blue, $blue, .75);
            margin-top: 11px;
            margin-bottom: 0;

            a {
                font-size: 1em;
                padding: 7px 25px 6px;
            }

            &:hover {
                background-color: rgba($white, 0);

                a {
                    color: $blue;
                    border-color: $blue;
                    border-radius: 4px;
                }
            }
        }
    }
}

/* Top margin is set to automatically scale with JS
This turns off the top margin for the homepage
 */
#page-homepage {
    padding-top: 0 !important;

    @media screen and (max-width: 1100px) {
        padding-top: 116px !important;
    }

    @media screen and (max-width: 767px) {
        padding-top: 78px !important;
    }

    @media screen and (max-width: 401px) {
        padding-top: 75px !important;
    }

    @media screen and (max-width: 341px) {
        padding-top: 74px !important;
    }
}

.archive_wrap {
    min-height: 100vh;
}

.social_media {
    color: $med-gray;
    padding: 25px 0;

    &__share {
        display: inline-block;
        font-weight: 400;
        //font-size: 20px;
        margin: 0;

    }

    &__wrap {
        display: inline-block;
        border-right: 2px solid $lt-gray;
        padding: 0 15px 0 10px;
        margin: 0;

        &:last-child {
            border-right: none;
            padding-right: 0;
        }

    }

    &__icon {
        margin: 0;
        color: $blue;
        padding: 0;

        i {
            font-size: 1.5em;
        }

        &--twitter {

        }

        &--facebook {

        }

        &--linkedin {

        }

    }
}

.footer_block {
    #mktoForm_1673 {
        @media screen and (max-width: 1160px) {
            padding-bottom: 15px !important;
        }

        @media screen and (max-width: 768px) {
            padding-bottom: 25px !important;
        }

        @media screen and (max-width: 400px) {
            padding-bottom: 30px !important;
        }
    }
}

//Halfblock Fix, didn't work in Layouts File
.builder-layout-half-block {

    .builder-table {
        align-content: stretch;
        flex: 1 1 auto;
        display: flex;
        justify-content: stretch;

        .builder-column {
            align-content: stretch;
            flex: 1 1 auto;
            display: flex;
            justify-content: stretch;
        }

        .builder-column-body {
            align-content: stretch;
            flex: 1 1 auto;
            display: flex;
            justify-content: stretch;

            .builder-content {
                align-content: stretch;
                flex: 1 1 auto;
                display: flex;
                justify-content: stretch;
            }
        }
    }
}

.mfp-iframe {
    width: 100%;
    height: 317px;
    margin-bottom: 1em;
}

//Microsite pages are to not have headers, removed top padding from microsite pages as well.
.page-template-microsite {
    .site_header {
        display: none;
    }
    .template-microsite {
        padding-top: 0 !important;
    }
}

#roi-iframe {
    border: none;
    box-shadow: none;
    width: 100%;
}

.logoCollage {
    @media screen and (max-width: 600px) {
        background: none;
    }
}

.two_in_four {
    .builder-layout-four-column {
        .builder-column-type--column {

            @media screen and (max-width: 900px) {

                &:first-of-type {
                    display: none;
                }
                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}