.site_header {
    background: rgba($header-gray, .95);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    &__wrapper {
        position: relative;
    }

    .u-builder-container-width {

    }

    .top-bar {
        text-align: right;
        padding: 0 3px 0 3px;

        .inner-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;

            &__right {
                justify-content: flex-end;
            }
        }
    }

    &__breadcrumbs {
        text-align: left;

        .breadcrumb {
            padding: 10px 15px 0 0;
            margin-bottom: 0 !important;
            list-style: none;
            background-color: transparent;
            font-size: 13px;
            width: 600px;

            span {
                color: $black;

                a {
                    color: $black;
                    font-weight: 500;
                }
            }

            .breadcrumb_last {
                color: $blue;
            }


            @media screen and (max-width: 1400px) {
                width: 500px;
                padding: 10px 10px 0 0;
            }

            @media screen and (max-width: 1200px) {
                width: 425px;
                padding: 10px 5px 0 0;
            }


            @media screen and (max-width: 1100px) {
                display: none;
            }
        }
    }

    .site-telephone {
        @include fancy-link($black);
        margin-left: 35px;
        align-self: center;

        @media screen and (max-width: 768px) {
            display: none;

            //    At this resolution use telephone link in mobile menu
        }
    }

    .search-bar {
        display: flex;
        margin-right: 0;
        overflow: hidden;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            display: none;
            //At this resolution use search feature in mobile menu
        }

        form {
            display: inline;
            margin-right: 10px;
            cursor: default;

            input {
                display: inline;
                width: 0;
                transition: width .65s ease-in-out, border .65s ease-in-out, background-color .65s ease-in-out;
                padding: 6px 10px;
                font-family: $font_one;
                border: 2px solid transparent;
                background-color: transparent;
                pointer-events: none;
                cursor: default;
                border-top: none;
            }
        }

        &.open {
            form input {
                width: 175px;
                border-color: $border;
                background-color: $white;
                pointer-events: auto;
                cursor: text;
            }
        }

        .search-button {
            display: inline;
            font-size: 1rem;
            vertical-align: middle;
            text-align: center;
            padding: 5px;

            i {
                color: $dark-gray;
            }
        }
    }

    .site-logo {
        margin: 0;
        flex: 0 1 220px;

        @media screen and (max-width: 1200px) {
            flex: 0 1 210px;
        }

        @media screen and (max-width: 1160px) {
            flex: 0 1 200px;
        }

        @media screen and (max-width: 1134px) {
            flex: 0 1 185px;
        }

        @media screen and (max-width: 1120px) {
            flex: 0 1 175px;
        }

        @media screen and (max-width: 1108px) {
            flex: 0 1 165px;
        }

        @media screen and (max-width: 1100px) {
            padding: 20px 0;
            flex: 0 1 220px;
        }

        @media screen and (max-width: 401px) {
            flex: 0 1 200px;
        }

        @media screen and (max-width: 341px) {
            flex: 0 1 195px;
        }

        img {
            max-width: 100%;
            height: auto;

            @media screen and (max-width: 1100px) {
                //max-width: 200px;
            }
        }
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;

        @media screen and (max-width: 500px) {
            justify-content: center;
        }
    }

    .primary-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1 0 auto;
        align-self: flex-end;

        [href="#"] {
            cursor: default;
        }

        @media screen and (max-width: 1100px) {
            display: none;
        }

        //ul
        .menu {
            padding: 0;
            margin: 0;

            .menu-item {
                list-style: none;
            }

            //li
            & > .menu-item {
                list-style: none;
                display: inline-block;
                padding: 30px 10px 29px;
                position: relative;

                &:last-child {
                    padding-right: 0;
                }

                &:nth-last-child(-n+3) {
                    & > .sub-menu {
                        right: 0;
                    }
                }

                & > a {
                    color: $black;
                    font-weight: bold;
                    transition: color 0.20s ease-in-out;
                    text-decoration: none;
                }

                //ul
                & > .sub-menu {
                    position: absolute;
                    background-color: rgba($header-gray, .95);
                    display: block;
                    z-index: 0;
                    opacity: 0;
                    height: 0;
                    top: 100%;
                    min-width: 300px;
                    overflow: hidden;
                    transition: opacity .75s;

                    &:after {
                        display: block;
                        background-image: linear-gradient(to bottom, rgba(224, 224, 224, .95) 0%, rgba(255, 255, 255, 0.90) 20%, rgba(255, 255, 255, 0) 100%);
                        height: 50px;
                        width: 100%;
                        position: absolute;
                        content: '';
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 1;
                    }

                    //li
                    .menu-item {
                        position: relative;
                        z-index: 99;

                        a {
                            color: $black;
                            font-weight: 500;
                            transition: color 0.20s ease-in-out;
                            font-size: .95em;
                            line-height: 2.125em;
                            text-decoration: none;
                            z-index: 99;

                            &:hover {
                                color: $teal;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &:hover {
                    & > .sub-menu {
                        padding: 20px;
                        opacity: 1;
                        height: auto;
                    }

                    a {
                        color: $teal;
                    }
                }
            }

            .menu-elements__column {
                padding: 0 0 0 25px;
                min-width: 300px;

                &:first-child {
                    padding-left: 0;
                }
            }

            .menu-elements__column-wrap {
                //padding-right: 26px;

                & > .sub-menu {
                    padding-left: 0;
                }
            }

            .menu-elements__title {
                color: $teal;
                font-weight: 700;
            }

            .menu-elements__cta {
                display: inline-block;
            }

            .menu-elements__row {
                & > .sub-menu {
                    padding: 0
                }
            }

            &:hover {

                .menu-elements__row {
                    display: flex !important;
                    flex-flow: row wrap;
                }
            }
        }

        //Full Width Menu Styles
        .menu {

            //li
            & > .mega-menu {
                position: static;

                //ul
                & > .sub-menu {
                    padding: 0 5px 0 25px;
                    left: 0;
                    right: 0;
                    max-width: 100vw;
                    background-color: rgba($header-gray, .95);
                    list-style: none;


                    &:after {
                        display: block;
                        background-image: linear-gradient(to bottom, rgba(224, 224, 224, .95) 0%, rgba(255, 255, 255, 0.90) 20%, rgba(255, 255, 255, 0) 100%);
                        height: 50px;
                        width: 100%;
                        position: absolute;
                        content: '';
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 1;
                    }

                    //li
                    & > .menu-item {

                        //ul
                        & > .sub-menu {
                            padding: 0;
                            margin: 0;
                            display: flex;
                            list-style: none;

                            //li
                            & > .menu-item {

                                .sub-menu {
                                    padding: 0;

                                    & > .menu-item {

                                        .sub-menu {
                                            padding: 0 0 0 15px !important;

                                            & > .menu-item {
                                                display: block;
                                                width: 100% !important;

                                                a {
                                                    width: 100% !important;

                                                }

                                            }
                                        }
                                    }
                                }

                                a {
                                    color: $black;
                                    font-weight: 500;
                                    transition: color 0.20s ease-in-out;
                                    font-size: .95em;
                                    line-height: 2.125em;
                                    text-decoration: none;

                                    &:hover {
                                        color: $teal;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }

                    .menu-elements__row {
                        display: none;
                        width: 1300px;
                        margin: 0 auto 0 auto;
                        max-width: 100%;
                    }

                    .menu-elements__column {
                        padding: 25px 0 25px 25px;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            .menu-elements__column-wrap {
                                padding-right: 0;
                            }
                        }
                    }

                    .menu-elements__column-wrap {
                        padding-right: 25px;

                        &--line {
                            border-color: $lt-gray !important;
                        }
                    }

                    .menu-elements__title {
                        color: $teal;
                        font-weight: 700;
                    }


                    & > .menu-elements__row {

                        & > .sub-menu {

                            & > .menu-elements__column {

                                & > .menu-elements__column-wrap {

                                    & > .sub-menu {

                                        & > .menu-elements__row {

                                            & > .sub-menu {
                                                padding: 0 !important;

                                                & > .menu-elements__column {

                                                    padding: 0 !important;

                                                    & > .menu-elements__column-wrap {

                                                        & > .sub-menu {
                                                            padding: 0 !important;

                                                            //LOWEST LEVEL ELEMENT
                                                            & > .menu-item {

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {

                    & > .sub-menu {
                        padding: 0 5px 0 25px;
                    }

                    .menu-elements__row {
                        display: flex !important;
                    }
                }

                //Overriding styles for Products menu specifically since it does not have dividers
                &.products {

                    & > .sub-menu {

                        & > .menu-elements__column {
                            padding: 25px 0;

                            & > .menu-elements__column-wrap {

                                & > .sub-menu {

                                    & > .menu-elements__row {

                                        & > .sub-menu {

                                            & > .menu-elements__column {
                                                padding: 0 !important;

                                                & > .menu-elements__column-wrap {

                                                    & > .sub-menu {

                                                        & > .menu-item {

                                                            & > .sub-menu {

                                                                //LOWEST LEVEL ELEMENT
                                                                & > .menu-item {

                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-button {
            @include button-style($white, $black, $black, .75);
            color: $white;
            padding: 6px 10px 4px !important;
            margin-right: 0;
            margin-left: 30px;

            &:hover {
                a {
                    color: $white;
                }
            }

            a {
                color: $white;
                padding: 0;
                margin-right: 0;
            }
        }
    }

    .mmenu-nav {
        display: none;
    }

    @media screen and (max-width: 1100px) {
        .mmenu-nav {
            display: block;
            position: absolute;
            top: 60px;
            right: 15px;
            z-index: 500;
            color: $charcoal;

            a {
                text-decoration: none;
                color: $charcoal;

                i {
                    color: $charcoal;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .mmenu-nav {
            display: block;
            position: absolute;
            top: 21px;
            right: 15px;
            z-index: 500;
            color: $charcoal;

            a {
                text-decoration: none;
                color: $charcoal;

                i {
                    color: $charcoal;
                }
            }
        }
    }

    .cta {
        width: 100%;
        min-width: 200px;

        &__wrap {
            display: flex;
            flex-flow: row wrap;
        }

        &__image {
            flex: 0 1 30%;
            margin-bottom: .5em;
            padding: 0 5px;

            @media screen and (max-width: 1230px) {
                flex: 0 1 50%;
                padding: 0;
            }

            img {
                width: 100%;
                max-width: 145px;
                height: auto;
                border: 1px solid $border;
            }
        }

        &__text {
            flex: 0 1 70%;
            padding: 0 10px;

            @media screen and (max-width: 1230px) {
                flex: 1 1 100%;
                padding: 0;
            }
        }

        &__title {
            color: $blue;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 10px;
        }


        &__button {
            @include button-style($white, $blue, $blue, .75);
            margin: 0;

            .cta__link {
                padding: 2px 15px;
                font-size: 12px !important;
                color: $white !important;
                text-decoration: none !important;
            }

            &:hover {
                background-color: rgba($white, 0);

                .cta__link {
                    color: $blue !important;
                    border-color: $blue;
                    border-radius: 4px;
                }
            }
        }
    }
}

//Styles for the language toggle in the header
.language {
    margin-right: 5px;

    //ul
    &__wrap {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    //li
    &__menu {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        white-space: nowrap;
        position: relative;

        &:hover {
            .language__hover_wrap {
                top: 100%;
                opacity: 1;
            }
        }
    }

    &__hover_wrap {
        overflow: hidden;
        padding: 10px;
        background-color: $white;
        position: absolute;
        top: 99999999999%;
        right: 0;
        z-index: 999;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        //border: 4px solid $blue;


        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .75);
        border-radius: 4px;


        p {
            font-weight: 700;
            color: $blue;
            margin-bottom: 8px;
        }
    }


    //ul level 2
    &__sub_menu {
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }

    //li level 2
    &__menu-item {
        padding: 5px 3px;
        white-space: nowrap;
        text-align: center;
    }

    &__link {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: 500;
        color: #646262;

        &:hover {
            color: $black;
        }
    }

    &__toggle {
        line-height: 1;
        color: #646262;

        &:hover {
            color: $black;
        }
    }

    &__icon {
        display: inline-block;
        padding: 5px 4px 5px 5px;
        font-size: 27px;
        line-height: 1;
    }

    //__open added with javascript class
    //&__open {
    //    .language__sub_menu {
    //        width: 62px;
    //    }
    //}

    @media screen and (max-width: 768px) {
        display: none;
    }
}