//Marketo Form Styles
.mktoForm {
    font-family: "Montserrat", Arial, sans-serif !important;
    margin: 0 !important;
    float: right;
    border: none !important;

    .mktoFormRow {
        width: 100% !important;
        max-width: 100% !important;

        .mktoFormCol {
            flex: 1 1 auto !important;
            padding-bottom: 10px !important;
            width: 100% !important;


            .mktoOffset {
                display: none !important;
            }

            .mktoFieldWrap {
                width: 100% !important;
                margin-bottom: 0 !important;

                .mktoAsterix {
                    display: block !important;
                    position: absolute;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    padding-left: 0 !important;
                }

                .mktoLabel {
                    width: 100% !important;
                    color: $black !important;
                    padding-top: 0 !important;
                    font-weight: 700 !important;
                    padding-left: 10px !important;
                }

                .mktoGutter {
                    display: none !important;
                }

                .mktoField {
                    width: 100% !important;
                    height: 30px !important;
                    padding: 0 15px !important;
                    border: 1px solid $border !important;

                    font-size: 1.0rem !important;

                    &[type="checkbox"] {
                        height: auto !important;
                        margin-top: 0 !important;
                    }
                }

                .mktoHtmlText {
                    width: 100% !important;
                    color: $gray !important;
                    font-weight: 500 !important;

                    span {
                        color: inherit !important;
                    }

                    a {
                        color: $mktoRed !important;
                        font-weight: 500;

                        &:hover {
                            font-weight: 500;
                            color: #c81e3a !important;
                        }
                    }
                }

                .mktoCheckboxList {
                    width: 20px !important;
                }

                input, select {
                    box-shadow: inset 1px 1px 4px 1px #ddd !important;
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    background-image: linear-gradient(45deg, transparent 50%, $lt-gray 50%), linear-gradient(135deg, $lt-gray 50%, transparent 50%);
                    background-position: calc(100% - 13px) 12px, calc(100% - 8px) 12px;
                    background-size: 5px 5px, 5px 5px;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .mktoButtonRow {
        text-align: right !important;
        width: 100% !important;

        .mktoButtonWrap {
            margin: 0 !important;
            width: 100% !important;
            display: block !important;
            background: none !important;
            box-shadow: none !important;
            padding: 0 !important;

            button {
                padding: 10px 30px 9px !important;
                text-transform: uppercase !important;
                background-color: $mktoRed !important;
                color: #fff !important;
                font-size: 1rem !important;
                border: 1px solid $mktoRed !important;
                border-radius: 4px !important;
                transition: all 150ms ease-in-out !important;
                width: 100% !important;
                background: linear-gradient(to bottom, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%) !important;
                position: relative;
                z-index: 1;
                font-family: $font_one !important;
                height: auto !important;
                text-shadow: none !important;
                line-height: 1 !important;
                box-shadow: none !important;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 4px;
                    background-color: rgba($white, 1) !important;
                    background-image: linear-gradient(to bottom, rgba(238, 67, 46, 0.75) 0%, rgba(198, 57, 41, 0.75) 50%, rgba(181, 23, 0, 1) 50%, rgba(137, 17, 0, 1) 100%) !important;
                    z-index: -1;
                    transition: opacity 0.25s ease-in-out;
                    opacity: 0;
                }

                &:hover {
                    background-color: rgba($white, 1) !important;

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//overriding width issue on marketo form - BY ID SPECIFIC
#mktoForm_1673 {
    width: 500px !important;

    .mktoAsterix {
        display: none !important;
    }

}

//Some forms have labels inside instead of outside, this is adjusting the asterisk and padding for those forms
#mktoForm_1652,
#mktoForm_1596,
#mktoForm_1594,
#mktoForm_1574 {

    .mktoAsterix {
        top: 10px;
        left: 5px;
    }

    select {
        padding: 0 15px 0 16px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background-image: linear-gradient(45deg, transparent 50%, $lt-gray 50%), linear-gradient(135deg, $lt-gray 50%, transparent 50%);
        background-position: calc(100% - 13px) 12px, calc(100% - 8px) 12px;
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
    }
}


//select fields look weird on Internet Explorer, special override
.ms_ie {
    #mktoForm_1652,
    #mktoForm_1596,
    #mktoForm_1594,
    #mktoForm_1574,
    #mktoForm_1673 {
        select {
            padding: 0 0 0 15px !important;
            background-image: none !important;
        }
    }

    .mktoForm {
        .mktoFormRow {
            .mktoFormCol {
                .mktoOffset {
                    .mktoFieldWrap {
                        select {
                            padding: 0 0 0 15px !important;
                            background-image: none !important;
                        }
                    }
                }
            }
        }
    }
}