/************************************************\
* Button Style                                   *
\************************************************/
@mixin button-style($color, $background-color: transparent, $border-color: null, $opacity: .25) {

    $border-color: $color !default;

    margin: 5px 10px 5px 0;
    border: 2px solid $border-color;
    background-color: $background-color;
    display: inline-block;
    border-radius: 50px;
    line-height: 1;
    transition: background-color 0.25s, color 0.25s, border 0.25s ease-in-out;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        @if ($background-color = transparent) {
            background-color: rgba($border-color, $opacity);
        } @else {
            background-color: rgba($background-color, $opacity);
        }
    }

    a {
        color: $color;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font_two;
        padding: 10px 30px 9px;
        line-height: 1;
        font-size: 1.0em;
        margin: 0;
        display: block;
        font-weight: 400;
        text-align: center;

        &:hover {
            text-decoration: none;
        }

        .solo-icon {
            padding-left: 5px;
            font-size: 1.25em;
        }
    }

    @content;
}

/************************************************\
* Fancy Link                                     *
\************************************************/
@mixin fancy-link($color: #000) {
    text-decoration: none;
    color: $color;
    font-weight: bold;
    border-bottom: 1px solid $color;

    &:hover {
        text-decoration: none;
        color: $color;
    }

    @content;
}

/************************************************\
* Hub Button                                     *
\************************************************/
@mixin hub_button($active : false) {

    background: linear-gradient(0deg, rgba(36, 32, 33, 1) 0%, rgba(87, 93, 98, 0.95) 50%);
    line-height: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    @media screen and (max-width: 768px) {
        border-radius: 0;
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: linear-gradient(0deg, rgba(4, 62, 118, 1) 0%, rgba(16, 110, 163, .95) 50%);
        z-index: -1;
        transition: opacity 0.2s ease-in-out;

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }

        @if($active == false){
            opacity: 0;
        }
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }

    a {
        color: $white;
        text-decoration: none;
        font-family: $font_one;
        padding: 15px 15px 14px;
        line-height: 1;
        font-size: 1.0em;
        margin: 0;
        display: block;
        font-weight: 400;
        text-align: center;
    }

    @content;
}

/************************************************\
* Tab Nav                                        *
\************************************************/
@mixin tab_nav() {
    margin-bottom: 50px;
    background-image: linear-gradient(0deg, rgba(214, 214, 214, 1) 0%, rgba(220, 220, 220, 1) 15%, rgba(255, 255, 255, 0.9) 80%);
    border-bottom: 1px solid $off-white;

    .tab_nav {
        display: flex;
        justify-content: flex-start;
        margin: 0 -5px;
        align-items: flex-end;
        flex-flow: row;

        &__wrap {
            margin-bottom: 0;
            display: flex;
            flex: 0 1 20%;
            padding: 0 5px;
            align-self: stretch;
        }

        &__single {
            width: 100%;

            &--active {
                @include hub_button(true);
            }

            &--inactive {
                @include hub_button();
            }
        }

        &__button {
        }
    }
}

/************************************************\
* Pagination                                     *
\************************************************/
@mixin pagination() {
    background-color: $white;
    padding: 25px;
    box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .7);
    border-radius: 4px;
    margin-bottom: 75px;
    width: 100%;

    @media screen and (max-width: 767px) {
        margin-bottom: 50px;
    }

    text-align: center;

    .resource--pages {
        display: inline-block;
        padding: 0 15px;
    }

    ul.page-numbers {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            .page-numbers {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                border-radius: 4px;
                font-weight: 500;
                padding: 8px 20px 7px;
                font-size: 18px;
                border: 1px solid $navy;
                background-color: rgba($navy, 1);
                color: $white;

                &.next, &.prev {
                    margin: 0 4px;
                }

                &:hover {
                    text-decoration: none;
                    background-color: rgba($navy, 0);
                    color: $navy;
                }

                &.current {
                    border: 1px solid rgba($navy, .75);
                    background-color: rgba($navy, .75);
                    color: $white;
                    font-weight: 700;

                }
            }
        }
    }

    @content;
}