/************************************************\
 * Fonts                                        *
\************************************************/

//$font: 'Roboto Slab', Georgia, 'Times New Roman', serif;
$font_one: 'Montserrat', Arial, Helvetica, sans-serif;
$font_two: 'Raleway', Arial, Helvetica, sans-serif;


/************************************************\
 * Colors                                       *
\************************************************/
$pure-black: #000000;
$black: #231f20;
$gray-black: #16191b;
$h-gray: #2f353a;
$dark-gray: #313131;
$charcoal: #383a35;
$med-gray: #464646;
$lt-charcoal: #565755;
$gray: #6b6c6e;
$lt-gray: #989898;
$xl-gray: #cacaca;
$border: #d9d9d9;
$silver: #ececec;
$off-white: #ebebeb;
$back-gray: #f8f8f8;
$white: #ffffff;
$header-gray: #FFF;

$teal: #34B3CB;
$navy: #192955;

$purple: #441470;
$green: #258128;


$mktoRed: #a71931;

/************************************************\
 * Break Points                                 *
\************************************************/

$breakpoints:				(
        'xx-small':			320px,
        'x-small':			480px,
        'small':			768px,
        'medium':			1024px,
        'large':			1200px,
        'x-large':			1400px,
        'xx-large':			1600px
);

/************************************************\
 * MATH                                         *
\************************************************/
$third: calc(100%/3);