@CHARSET "ISO-8859-1";

// Page builder helper styles
.acf-table td.acf-label {
    width:1% !important;
}

.acf-table tr.acf-tab-wrap td .acf-tab-group {
    padding-left: 10% !important;
}

.wp-color-result {
    white-space: nowrap;
}

.acf-field.field_type-flexible_content,
acf-field.field_type-repeater {
    max-width: 100%;
}

// End Page Builder


// Styles for Faculty CPT
.post-type-faculty {
    #titlewrap {
        display:none;
    }

    .wp-list-table {
        .column-image {
            width: 100px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.column-featured-image,
.column-gallery-featured-image,
.column-spotlight-featured-image {
    width: 150px;

    img {
        max-width: 100%;
        height: auto;
        width: auto;
        max-height: 150px;
    }
}

[data-name="kmdg_page_builder"], [data-name="kmdg_block_builder"] {
    [data-layout="split_blocks"] {
        .acf-image-uploader p {
            margin: 10px 0 15px 0;
        }

        [data-name="background_color"] {
            padding: 15px 0 !important;
        }
    }

    [data-layout="half_block"], [data-layout="rollover_section"] {
        .acf-field .acf-label {
            margin: 15px 0;
        }

        // Temporary Fix for -left class being added for no reason??
        .acf-clone-fields {
            &.-left {
                .acf-label {
                    float: none;
                    width: initial;
                    margin: 15px 0;
                    padding: 0;
                }

                .acf-input {
                    float: none;
                    width: initial;
                    padding: 0;
                }

                .acf-tab-group {
                    padding: 10px 10px 0;
                }
            }
        }

        [data-name="background_color"] {
            margin: 15px 0;
        }
    }

    [data-layout="horizontal_buttons"], [data-layout="tile_cards"], [data-layout="vertical_timeline"],
    [data-layout="static_icons"], [data-layout="lightbox_cards"], [data-layout="full_width_masonry_grid"]{
        .acf-repeater .acf-row-handle.order {
            background: #050f32;
            color: #ffffff;
            text-shadow: none;
        }
    }
}

[data-name="themes"] {
    .acf-table .acf-row-handle.order {
        background: #005680;
    }

    .kmdg-custom-view .acf-repeater .acf-table {
        .acf-row-handle.order {
            background: #39ac29;

            span {
                color: #ffffff;
                text-shadow: none;
            }
        }

        .acf-fields {
            border-top-color: transparent;
            border-bottom-color: #000000;
            border-width: 0px 0 8px 1px;
            border-left: 0;
        }

        .heading-message .acf-label label {
            font-size: 28px;
            letter-spacing: 1px;
            color: #38ab26;
        }
    }
}

[data-name="solution_components"] {
    .acf-label {
        display: none;
    }

    .acf-input .acf-clone-fields {
        border: none !important;
    }

    .acf-field-clone {
        padding: 5px;
    }

    .acf-tab-wrap .acf-tab-group li .acf-tab-button {
        padding: 0 5px;
    }

    .acf-repeater .acf-row-handle.order {
        background: #050f32;
        color: #ffffff;
        text-shadow: none;
    }

    .acf-flexible-content {
        // Layout flex field titles

        .layout {
            .acf-fc-layout-handle {
                color: #FFF !important;
                background: #0073aa;
            }
        }
    }
}

[data-name="overview"], [data-name="what_it_means"], [data-name="what_it_does"],
[data-name="product_overview"] {
    > .acf-label {
        display: none;
    }

    .acf-fields {
        border: none !important;

        .acf-input .acf-clone-fields {
            .acf-field {
                padding: 0px;
            }

            .acf-field-image, .acf-field-post-object, .acf-field-wysiwyg {
                .acf-input {
                    padding: 15px 12px;
                }
            }

            .acf-field-color-picker {
                .acf-label {
                    padding: 15px 15px 0 15px;
                    display: block;
                }

                .acf-input {
                    padding: 7px 15px;
                }
            }

            .acf-field-number, .acf-field-url, .acf-field-true-false,
            .acf-field-select {
                .acf-label {
                    padding: 15px 15px 0 15px;
                    display: block;
                }

                .acf-input {
                    padding: 0 12px 15px 12px;
                }
            }

            .acf-field-repeater {
                .acf-input {
                    padding: 15px;

                    .acf-repeater .acf-actions {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
