@import "functions";

#sidebar {
    .menu-sidebar-nav-container, .search {
        display: none;
    }
    a {
        line-height: 0;
        font-size: 0;
        color: transparent;
    }
}

#responsive-aside-nav {
    display: none;
}

#responsive-top-nav {
    display: none;
}

#sidebar-news {
    display: none;
}

header {
    #top-nav {
        display: none;
    }
}

footer {
    .clear {
        display: none;
    }
    #contact-info {
        a:last-of-type {
            display: none;
        }
    }
}

.template-post {
    span.print {
        display: none;
    }
}

aside#modal {
    display: none;
}

#ucfhb {
    display: none;
}

#slideshow {
    display: none;
    position: relative;
    height: auto;
    min-height: 0;
    float: right;
    margin: 0 0 toREM(5) toREM(10);

    .slide {
        display: none !important;
        font-size: 0;
        position: static !important;

        &.cycle-slide-active {
            display: block !important;

            .kmdg-responsive-image {
                background-size: cover;
                background-repeat: no-repeat;

                img {
                    width: toREM(300);
                    height: toREM(200);
                }
            }
        }
    }

    .cycle-pager {
        display: none;
    }

    .cycle-overlay {
        display: none;
    }
}

p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
}