&.builder-component-horizontal-buttons {
    .buttons-row {
        display: flex;
        flex-flow: row wrap;

        &.align-start {
            justify-content: flex-start;
        }

        &.align-center {
            justify-content: center;
        }

        &.align-end {
            justify-content: flex-end;
        }

        &.align-space-around {
            justify-content: space-around;
        }

        &.align-space-between {
            justify-content: space-between;
        }

        .single-button {

            &.style-purple {
                @include button-style($teal);

                &:hover {
                    background-color: rgba($teal, 1);

                    a {
                        color: $white;
                    }
                }
            }

            &.style-green {
                @include button-style($navy);

                &:hover {
                    background-color: rgba($navy, 1);

                    a {
                        color: $white;
                    }
                }
            }

            &.style-white {
                @include button-style($white);
            }
        }
    }
}

&.builder-component-html {
    form {
        border: 1px solid #cecece;
        padding: 15px;

        h4 {
            margin-bottom: 15px;
        }

        input[type="password"], input[type="text"] {
            background: #dde5e8;
            border: none;
            padding: 7px 15px;
            font-size: 14px;
            text-transform: uppercase;

            @media screen and (max-width: 500px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        input[type="submit"] {
            font-family: $font_one;
            border: 0;
            color: #fff;
            text-transform: uppercase;
            padding: 7px 10px;
            font-size: 14px;

            @media screen and (max-width: 500px) {
                display: block;
                margin: auto;
            }
        }
    }
}

&.builder-component-wysiwyg {
    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        padding: 10px 20px 0;
        list-style: outside;
        li {

        }
    }

    hr {
        border-top: none;
        border-bottom: 1px solid $lt-gray;
    }

    h2, h3 {
        //margin-bottom: 15px;
    }

    h4, h5, h6 {
        //margin-bottom: 10px;
    }

    iframe {
        max-width: 100%;
        border: 1px solid #c4c4c4;
        margin: 20px 0;
    }

}

&.builder-component-image-grid {
    .gutter-sizer {
        width: 2%;
    }

    .single-image {
        .block-wrap {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: none;

            .image-area {
                width: auto;
                height: auto;
                background-size: cover;
                background-position: center center;
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }

        &.full {
            padding-top: 50%;
            padding-left: 100%;
        }

        &.short {
            padding-top: 49%;
            padding-left: 49%;
        }

        &.tall {
            padding-top: 89%;
            padding-left: 49%;
        }
    }
}

&.builder-component-icon-bar {
    .icons-row {
        display: flex;
        justify-content: space-around;
        flex-flow: nowrap;
        align-items: center;
        margin: 0 -15px;

        @media (max-width: 700px) {
            flex-wrap: wrap;
        }

        .single-icon {
            padding: 0 15px;
            flex: 1 1 100%;
            text-align: center;

            @media (max-width: 700px) {
                flex: 0 1 150px;
                padding: 15px;
            }

            .image-container {
            }

            img {
                max-width: 100%;
            }
        }
    }
}

&.builder-component-side-icon {
    .flexed-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            text-align: center;
            margin-bottom: 25px;
        }

        .icon {
            flex: 0 1 23%;
            text-align: right;

            @media screen and (max-width: 991px) {
                flex: 100%;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 575px) {
                text-align: center;
            }

            img {
                max-width: 100%;
            }
        }

        .right-side {
            padding-left: 20px;
            flex: 0 1 75%;

            @media screen and (max-width: 991px) {
                flex: 100%;
            }

            .title {
                color: $teal;
                font-family: $font_one;
                font-weight: 400;
                font-size: 120%;
                margin-bottom: 10px;
            }

            .content-wrap p {
                font-size: 14px;
                line-height: 1.4;
            }

            .btn-wrap {
                margin-top: 15px;

                a {
                    color: #fff;
                    font-weight: 500;
                    background: $navy;
                    text-transform: uppercase;
                    text-decoration: none;
                    display: inline-block;
                    padding: 5px 15px;
                }
            }
        }
    }
}

&.builder-component-two-column-text {
    .inner-wrap {
        display: flex;
        flex-flow: row wrap;

        .side {
            flex: 0 1 48%;

            @media screen and (max-width: 575px) {
                flex: 0 1 100%;
            }

            ul {
                padding: 10px 20px 0;
                list-style: outside;

                li {
                }
            }
        }

        .left-side {
            margin-right: 2%;
        }
    }
}

&.builder-component-icon-row {
    .flexed-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        .icon i {
            font-size: 220%;
        }

        .heading-wrap {
            text-align: center;

            .title {
                text-transform: uppercase;
                color: $dark-gray;
                font-family: $font_one;
                font-size: 130%;
                font-weight: 500;
                margin-left: 15px;
                display: inline-block;
            }
        }

        .row-btn {
            margin-left: 20px;

            @media screen and (max-width: 1025px) {
                flex: 100%;
                text-align: center;
                margin: 15px 0 0 0;
            }

            a {
                text-decoration: none;
                font-family: $font_one;
                background: #ebebeb;
                padding: 5px 25px;
                border-radius: 3px;
                color: $dark-gray;
                text-transform: uppercase;
                display: inline-block;
                line-height: 18px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

&.builder-component-post-select {
    .post-area {
        background-color: $header-gray;
        border: 1px solid $border;
        border-radius: 4px;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .content-wrap {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;

            .post-image {
                flex: 100%;
                min-height: 150px;
                height: 100%;
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;

                &.size {

                    &--cover {
                        background-size: cover;
                    }

                    &--contain {
                        background-size: contain;
                    }

                }

                //maybe
                border-bottom: 2px solid $teal;
            }

            .post-title {
                color: $black;
                font-family: $font_one;
                padding: 7px 15px 0;
                width: 100%;
                min-height: 50px;
                display: flex;
                align-items: center;

                @media screen and (max-width: 768px) {
                    min-height: initial !important;
                }
            }
        }

        .resource-link {
            text-align: center;
            padding: 23px 25px;

            a {
                @include button-style($white, $black, $black, .75);
                text-decoration: none;
                margin: 0;
                padding: 6px 17px 5px;
                color: $white;
                text-transform: uppercase;
                vertical-align: middle;
                font-weight: 500;

                &:hover {
                    background-color: rgba($white, 0);
                    color: $black;
                }
            }
        }
    }
}

&.builder-component-ticker-counter {
    .single-counter {
        position: relative;

        .icon-wrap {
            margin-bottom: 20px;
            text-align: center;
        }

        .numbers-wrap {
            font-family: $font_one;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;

            .prepend,
            .append {
                display: inline;
                font-size: 2.5rem;

            }

            .number {
                display: inline;
                font-size: 5.5rem;
            }

        }


        .desc {
            font-family: $font_two;
            font-size: 1.5rem;
            //font-weight: 600;
            text-align: center;
        }
    }
}

&.builder-component-business-card {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .inner-wrap {
        display: flex;
        padding: 7% 0 7% 0;
        background-color: #ffffff;
        flex: 1 1 auto;
        border-radius: 4px;


        .side {
            flex: 0 1 55%;
        }

        .right-side {
            margin-left: 4%;
            padding: 1% 0 1% 3%;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: #acacac;

            .right-text {
                padding: 0 0 10% 0;
                font-size: 80%;
            }

            .link-text {
                color: #9a1010;
                text-decoration: none;
                font-weight: 600;
                font-size: 90%;
            }
        }

        .left-side {
            padding: 0 0 0 7%;
            flex: 0 1 38%;
            align-self: center;
        }
    }
}

&.builder-component-accordion {

    @media screen and (max-width: 767px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .single-accordion {
        margin-bottom: 20px;
        max-width: 100%;

        .accordion-inner {
            padding: 2% 3%;

            .content {
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .accordion-header {
            background: #ffffff;
            padding: 20px 30px;
            border-radius: 2px;
            position: relative;
            border: 1px solid;
            z-index: 1;
            font-size: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f067";
                font-size: 150%;
                flex: 0 0 auto;
                line-height: 0;
                padding-top: 0;
                padding-right: 25px;
            }

            .icon {
                display: inline-block;
                line-height: 1;
                flex: 0 0 auto;

                img {
                    max-height: 2em;
                    max-width: 2em;
                    height: auto;
                    width: auto;
                }
            }

            .icon--inverted {
                display: none;
            }

            .accordion-title {
                vertical-align: top;
                display: inline-block;
                font-weight: 500;
                line-height: 1;
                flex: 1 1 auto;

                &.title--icon {
                    margin-left: 25px;
                }

                h2 {
                    margin-bottom: 0;
                    line-height: 1;
                    font-size: 1.5em;
                    font-weight: 500;

                    @media screen and (max-width: 575px) {
                        font-size: 1em;
                        text-align: left;
                    }
                }
            }
        }

        &.style-dark-gray {
            .accordion-header {
                border-color: $med-gray;
            }

            .accordion-header:before {
                color: $med-gray;
            }

            .accordion-title h2 {
                color: $med-gray;
            }

            .accordion-inner {
                border: 1px solid $med-gray;
            }

            &.open {
                .accordion-header {
                    background: $med-gray;
                }

                .video-button, .basic-button {
                    background-color: $med-gray;
                    border: 1px solid $med-gray;

                    &:hover {
                        background-color: rgba($med-gray, .75);
                    }
                }
            }
        }

        &.style-blue {
            .accordion-header {
                border-color: $teal;
            }

            .accordion-header:before {
                color: $teal;
            }

            .accordion-title h2 {
                color: $teal;
            }

            .accordion-inner {
                border: 1px solid $teal;
            }

            &.open {
                .accordion-header {
                    background: $teal;
                }

                .video-button, .basic-button {
                    background-color: $teal;
                    border: 1px solid $teal;

                    &:hover {
                        background-color: rgba($teal, .75);
                    }
                }
            }
        }

        &.style-light-blue {
            .accordion-header {
                border-color: $teal;
            }

            .accordion-header:before {
                color: $teal;
            }

            .accordion-title h2 {
                color: $teal;
            }

            .accordion-inner {
                border: 1px solid $teal;
            }

            &.open {
                .accordion-header {
                    background: $teal;
                }

                .video-button, .basic-button {
                    background-color: $teal;
                    border: 1px solid $teal;

                    &:hover {
                        background-color: rgba($teal, .75);
                    }
                }
            }
        }

        &.style-black {
            .accordion-header {
                border-color: $black;
            }

            .accordion-header:before {
                color: $black;
            }

            .accordion-title h2 {
                color: $black;
            }

            .accordion-inner {
                border: 1px solid $black;
            }

            &.open {
                .accordion-header {
                    background: $black;
                }

                .video-button, .basic-button {
                    background-color: $black;
                    border: 1px solid $black;

                    &:hover {
                        background-color: rgba($black, .75);
                    }
                }
            }
        }

        .accordion-inner {
            display: none;
            max-width: 100%;

            .box-wrap {
                display: none;
            }
        }

        &.open {
            .accordion-header {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                .icon {
                    display: none;
                }

                .icon--inverted {
                    display: inline-block;
                }
            }

            .accordion-title h2 {
                color: #ffffff;
            }

            .accordion-header:before {
                content: "\f068";
                color: #ffffff;
                transition: transform 0.25s ease-in-out;
                will-change: transform;
            }

            .accordion-inner {
                background-color: #ffffff;
                position: relative;
                top: -5px;
                z-index: 0;
                border-radius: 2px;
                max-width: 100%;

                .buttons-row {
                    text-align: left;

                    .video-button, .basic-button {
                        color: #ffffff;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: inherit;
                        padding: 10px 25px 9px;
                        display: inline-block;
                        margin-left: auto;
                        margin-right: 20px;
                        text-align: center;
                        font-weight: 400;
                        margin-top: 25px;
                        border-radius: 2px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .content {
                    margin-bottom: 0;

                    h1, h2, h3, h4, h5, h6, p, ul, ol, ul li, ol li {
                        color: $black;
                        font-weight: 500;
                        font-size: 1.0em;

                        margin-bottom: .5em;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                p {
                    font-size: inherit;
                }
            }
        }
    }

    .accordion_icons {

        &__wrap {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -5px;
        }

        &__single {
            flex: 1 1 25%;

            img {
                padding: 0 5px;
                height: 35px;
                width: 45px;
            }
        }
    }
}

&.builder-component-divider-line {
    margin: 25px 0;
}

&.builder-component-solution-block {
    border: 1px solid $border;
    padding: 15px;
    background-color: $back-gray;
    border-radius: 4px;



    @media screen and (max-width: 768px) {
        padding: 10px;
    }

    .solution-block {

        &__title {
            border-bottom: 1px solid $border;
            padding-bottom: 10px;
            margin-bottom: 15px;
            color: $teal;
            font-size: 1.50rem;

            @media screen and (max-width: 575px) {
                font-size: 1.35rem;
            }
        }

        &__content {

        }
    }

    .solution-item {
        display: block;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $xl-gray;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }


        &__wrapper {
            display: flex;
        }

        &__img {
            width: 32px;
            margin-right: 25px;
            flex: 0 0 32px;
            align-self: center;

            @media screen and (max-width: 575px) {
                width: 35px;
                flex: 0 0 35px;
                margin-right: 20px;
                padding-top: 4px;
                align-self: flex-start;
            }

            &--fa {
                width: 32px;
                color: $teal;
                font-size: 1.75em;

                @media screen and (max-width: 575px) {
                    font-size: 1.90em;
                }
            }

            &--image {
                width: 100%;
                height: auto;
            }
        }

        &__desc {
            flex: 1 1 auto;
        }

        &__type {
            display: block;
            margin-bottom: 0;
            font-size: 0.90em;
            color: $black;
            font-weight: 600;
        }

        &__url {
            display: block;
            margin-bottom: 0;
            font-size: .75em;
            color: $teal;

            @media screen and (max-width: 575px) {
                font-size: .85em;
            }

            a {
                color: $teal;
            }
        }
    }
}

&.builder-component-rollover-icon {
    .rollover_icon {

        &__image-container {
            text-align: center;
            justify-content: center;

        }

        &__image-subcontainer {
            position: relative;
            display: inline-block;

            &:hover {

                .rollover_icon__img--active {
                    opacity: 1;
                }

                .rollover_icon__img--inactive {
                    opacity: 0;
                }
            }
        }

        &__img {
            transition: opacity .25s ease-in-out;
            height: 100%;

            &--active {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 1;
                position: absolute;
                z-index: 9;
            }

            &--inactive {
                position: relative;
                z-index: 10;
                display: block;
                opacity: 1;
            }
        }
    }
}

&.builder-component-image {

    &.border-box {
        padding: 5%;
        border: 2px solid $border;
    }
}

//====== VIDEO =========

iframe {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.7);

    @include media ("<=xx-large") {
        width: 100%;
    }
}

&.builder-component-video-update {

    .lightbox-trigger {
        padding: 52.5% 0 0 0;
        position: relative;
        width: 100%;
        display: block;
    }

    .thumbnail {
        background-size: cover;
        background-position: center center;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: 0 5px 30px 0 rgba(0,0,0,.7);

        .playbtn {
            color: #FF0000;
            font-size: 300%;
            position: relative;
            z-index: 1;

            &:after {
                content: "";
                display: block;
                background-color: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                height: 50%;
                width: 50%;
                z-index: -1;
                transform: translate(-50%, -50%);
            }
        }
    }
}