&.builder-layout-full-width-masonry-grid {
    .builder-container {
        width: 100%;
        padding: 0;
    }

    .grid-row {


        &.style-half {

            .single-image {
                padding-left: 50%;
                padding-top: 50%;
                @include position(absolute, 0);
                width: 50%;
                height: auto;
                background-size: cover;
                background-position: center center;
                display: block;
            }
        }

        &.style-thirds {
            .single-image {
                padding-top: 33.333333%;
                padding-left: 33.333333%;
                @include position(absolute, 0);
                width: 33.333333%;
                height: auto;
                background-size: cover;
                background-position: center center;
                display: block;

                @media screen and (max-width: 650px) {
                    padding-top: 50%;
                    padding-left: 50%;
                }

                @media screen and (max-width: 400px) {
                    padding-top: 100%;
                    padding-left: 100%;
                }
            }
        }

        &.style-fourths {
            .single-image {
                padding-top: 25%;
                padding-left: 25%;
                @include position(absolute, 0);
                width: 25%;
                height: auto;
                background-size: cover;
                background-position: center center;
                display: block;

                @media screen and (max-width: 650px) {
                    padding-top: 50%;
                    padding-left: 50%;
                }

                @media screen and (max-width: 400px) {
                    padding-top: 100%;
                    padding-left: 100%;
                }
            }
        }

        &.style-fifths {
            .single-image {
                padding-top: 20%;
                padding-left: 20%;
                width: 20%;
                @include position(absolute, 0);
                height: auto;
                background-size: cover;
                background-position: center center;
                display: block;

                @media screen and (max-width: 650px) {
                    padding-top: 50%;
                    padding-left: 50%;
                }

                @media screen and (max-width: 400px) {
                    padding-top: 100%;
                    padding-left: 100%;
                }
            }
        }

        .block-wrap {
            display: none;
        }

        .single-image .image-area {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            background-size: cover;
            background-position: center center;
            display: block;
        }
    }
}

&.builder-layout-static-icons {
    .icons-row {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;

        .single-icon {
            text-align: center;
            flex: 0 0 150px;

            .icon-wrap {
                margin-bottom: 15px;
            }
        }
    }
}

&.builder-layout-lightbox-cards {
    .cards-row {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        a {
            text-decoration: none;

            .single-card {
                flex: 0 1 auto;
                margin: 0 10px 20px 10px;

                .theme-responsive-image {
                    display: block;
                }

                .black-bar {
                    background: #000000;
                    text-align: center;
                    padding: 10px 0;

                    h4 {
                        color: #ffffff;
                        font-family: $font_one;
                        font-weight: 600;
                        margin: 0;
                    }

                    h5 {
                        color: #ffffff;
                        font-family: $font_one;
                        margin: 0;
                    }
                }
            }
        }

        .lightbox-content {
            display: none;
        }
    }
}

&.builder-layout-rollover-section, &.builder-layout-half-block {
    .builder-table {
        align-items: initial;
        flex-flow: row;

        @media screen and (max-width: 600px) {
            flex-flow: row wrap;
        }

        .builder-column {
            flex: 1 1 50%;

            @media screen and (max-width: 600px) {
                flex: 100%;
            }
        }

        .builder-content {
            position: relative;

            .rollover {
                padding: 0 5%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                flex: 1 1;
                min-height: 600px;

                @media screen and (max-width: 575px) {
                    min-height: 250px;
                }
            }

            .rollover-active {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 0;
                transition: opacity 1s;

                .gray-stripes {
                    background: url('../../images/gray-overlay.png');
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 0.7;
                    z-index: 100;
                }

                .active-content-wrap {
                    z-index: 200;
                    position: relative;
                }
            }

            .rollover-default {
                //flex: 1 1;
            }

            &:hover {
                .rollover-active {
                    //display: block;
                    opacity: 1;
                }

                .rollover-default {
                    &.has-active .builder-component {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

&.builder-layout-tile-cards {

    .builder-layout-tile-cards__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: -20px -20px;

        @media screen and (max-width: 1406px) {
            flex-flow: row wrap;
        }
    }

    .tile-card {
        display: flex;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 20px;
        min-width: 250px;
        flex: 1 1 25%;

        @media screen and (max-width: 1406px) {
            flex: 1 1 50%;
        }

        @media screen and (max-width: 550px) {
            flex: 1 1 100%;
        }

        &__wrap {
            display: flex;
            padding: 35px 35px 30px;
            position: relative;
            box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .5);
            border-radius: 4px;
            flex: 1 1 25%;

            @media screen and (max-width: 1406px) {
                padding: 40px 40px 30px;
            }

            @media screen and (max-width: 1024px) {
                padding: 35px 35px;
            }

            @media screen and (max-width: 767px) {
                padding: 30px 30px 25px;
            }

            @media screen and (max-width: 550px) {
                padding: 40px 40px 30px;
            }
        }

        &__tile {
            width: 100%;
        }

        &__center {
            text-align: center;
        }

        &__left {
            text-align: left;
        }

        &__top {
            margin-bottom: 1.25em;
        }

        &__bottom {

        }

        &__img {
            display: flex;
            flex: 0 1 auto;
            vertical-align: top;
            align-self: flex-start;
            align-items: center;
            justify-content: center;
        }

        &__title {
            justify-content: space-between;
            flex-flow: row nowrap;

            h3 {
                //color: #000;
                flex: 1;
                margin-bottom: 0;
                font-size: 100%;
                font-weight: 600;
                padding-top: 35px;
                @media screen and (max-width: 991px) {
                    padding-top: 25px;
                }
            }
        }


        &__content {

            p {
                color: $black;
                font-weight: 500;
            }


            ul {

                li {
                    font-family: $font_one;
                    font-size: 1.2em;
                    color: $black;
                    margin-bottom: 5px;
                }
            }

        }

        &__link {
            padding-top: 40px;

            a {
                text-decoration: none;
                color: $teal;
                text-transform: capitalize;
                font-size: 100%;
                font-weight: 600;
                display: block;

                i {
                    line-height: inherit;
                    padding-left: 10px;
                }

                //&:after {
                //    content: '';
                //    background: url('../../images/right-arrow.png');
                //    width: 25px;
                //    height: 16px;
                //    padding-left: 30px;
                //    margin-left: 10px;
                //    background-repeat: no-repeat;
                //    align-self: center;
                //    position: relative;
                //    top: 3px;
                //}
            }
        }
    }
}

&.builder-layout-tab-box {

    & > .builder-container {
        padding: 0;
        width: 100%;
    }

    .builder-tabs {
        background-color: $border;
        background-image: linear-gradient(0deg, rgba(189, 189, 189, 1) 0%, rgba(213, 213, 213, 1) 50%, rgba(214, 214, 214, 1) 51%);
        border-bottom: 1px solid $off-white;

        .builder-container {
            display: flex;
            flex-direction: row;
            //justify-content: flex-start;

            //Client wants center start
            justify-content: center;

            @media screen and (max-width: 575px) {
                flex-direction: column;
            }
        }

        .overtab {
            margin-bottom: 0;
            margin-top: 40px;
            display: flex;
            flex: 0 1 20%;
            padding: 0 10px 0 0;

            @media screen and (max-width: 1024px) {
                margin-top: 30px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 25px;
                padding: 0 5px 0 0;
            }

            @media screen and (max-width: 575px) {
                margin-top: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            .tab {
                background-color: rgba(36, 32, 33, 1);
                background-image: linear-gradient(0deg, rgba(36, 32, 33, 1) 0%, rgba(87, 93, 98, 1) 50%);
                display: inline-block;
                line-height: 1;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                position: relative;
                z-index: 1;
                width: 100%;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background-color: rgba(4, 62, 118, 1);
                    background-image: linear-gradient(0deg, rgba(4, 62, 118, 1) 0%, rgba(16, 110, 163, 1) 50%);
                    z-index: -1;
                    transition: opacity 0.2s ease-in-out;
                    opacity: 0;
                }

                &:hover {
                    cursor: pointer;
                    &:before {
                        opacity: 1;
                    }
                }

                .title {
                    color: $white;
                    text-decoration: none;
                    font-family: $font_one;
                    padding: 15px 15px 14px;
                    line-height: 1;
                    font-size: 1.0em;
                    margin: 0;
                    font-weight: 400;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    height: 100%;
                    align-items: center;

                    span {

                    }

                    @media screen and (max-width: 1024px) {
                        padding: 12px 12px 11px;
                        font-size: 15px;
                    }

                    @media screen and (max-width: 768px) {
                        padding: 8px 5px 7px;
                        font-size: 14px;
                    }
                }
            }

            &.off {
                .tab {
                }
            }

            &.active {
                .tab {
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background-color: rgba(4, 62, 118, 1);
                    background-image: linear-gradient(0deg, rgba(4, 62, 118, 1) 0%, rgba(16, 110, 163, 1) 50%);
                    z-index: 1;
                }
            }
        }

        &--content {

            .tab--content {
                display: none;
                padding: 50px 0;

                @media screen and (max-width: 768px) {
                    padding: 25px 0 30px;
                }

                &.active {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                }

                h1, h2, h3, h4, h5, h6 {
                    @media screen and (max-width: 600px) {
                        text-align: center;
                    }
                }

                .innertab__wrap {
                    justify-content: space-between;
                    margin: 0 0 0 auto;
                    width: 88%;

                    @media screen and (max-width: 1200px) {
                        width: 90%;
                    }

                    @media screen and (max-width: 1100px) {
                        width: 92%;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }

                }

                .image {

                    &__wrap {
                        flex: 1 1 40%;
                        padding-right: 20px;

                        @media screen and (max-width: 991px) {
                            flex: 1 1 100%;
                            padding-right: 0;
                        }
                    }

                    &__item {
                        max-width: 100%;
                    }
                }

                .wrap {
                    flex: 1 1 60%;

                    @media screen and (max-width: 991px) {
                        flex: 1 1 100%;
                    }
                }

                .text {
                    ul {
                        li {
                            margin-bottom: 2%;
                            font-size: 110%;
                            color: $black;

                            ul {
                                margin-top: 2.5% !important;

                                li {
                                    margin-bottom: 2%;
                                    font-size: 110%;
                                    color: $black;
                                }
                            }
                        }
                    }
                }

                .button {
                    @include button-style($white, $teal, $teal, .75);

                    margin: 20px 0 0 0;

                    a {

                    }
                }
            }
        }
    }
}
