&.resource--recent-posts {

    .resource--post {
        box-shadow: none !important;

        &.resource--template {

            &__small {
                padding: 0 2% 2% !important;

                .resource {
                    &--post-wrapper {
                        padding: 0 !important;
                        display: flex !important;
                        flex-flow: column nowrap !important;
                        justify-content: flex-start !important;
                        border: none !important;
                        min-height: 250px !important;
                    }

                    &--post-image {
                        flex: 0 0 auto !important;
                    }

                    &--featured-img {
                        margin-bottom: 0 !important;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                    }

                    &--inner-wrap {
                        display: flex !important;
                        flex-flow: column nowrap !important;
                        justify-content: flex-start !important;
                        flex: 1 0 auto !important;
                    }

                    &--post-title {
                        padding: 15px 10px !important;
                        margin: 0 !important;
                        text-align: left !important;
                        flex: 1 0 auto !important;
                        background: $off-white !important;
                        color: $black !important;
                    }

                    &--post-download {
                        position: static !important;
                        flex: 0 0 auto !important;
                        padding: 0;
                        background: $off-white !important;

                        a {
                            background-color: rgba($black, 1) !important;
                            padding: 10px !important;
                            width: 100% !important;
                            color: $white !important;
                            font-size: 1em;
                            text-transform: capitalize;
                            //text-align: left !important;
                            border: 1px solid $black;

                            &:hover {
                                background-color: rgba($black, .0) !important;
                                color: $black !important;
                                border: 1px solid $black;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.resource {

    &--post {
        flex: 0 1 auto !important;
        width: 33.33333% !important;
        padding: 1% !important;
        display: flex !important;

        @media screen and (max-width: 991px) {
            width: 100% !important;
            padding: 4% !important;
        }

        .screen-reader-text {
            display: none !important;
        }

        &.u-img-shadow {
            .featured-img img {
                box-shadow: 0 0 5px rgba(0,0,0,.5) !important;
            }
        }
    }

    &--post-image {
        display: block !important;
        @media screen and (max-width: 767px) {
            margin-bottom: 0 !important;
        }
    }

    &--post-wrapper {
        border: 1px solid #ccc !important;
        padding: 20px 20px 50px 20px !important;
        flex: 1 !important;
        position: relative !important;
        text-decoration: none !important;
    }

    &--post-type {
        text-transform: uppercase !important;
        font-size: 21px !important;
        line-height: 24px !important;
        margin-top: 15px !important;
    }

    &--featured-img {
        width: 100% !important;
        height: 100px !important;
        text-align: center !important;
        margin-bottom: 25px !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        @media screen and (max-width: 991px) {
            height: 125px !important;
            margin-bottom: 0 !important;
        }

        @media screen and (max-width: 767px) {
            height: 100% !important;
        }
    }

    &--post-title {
        text-align: center !important;
        font-size: 90% !important;
        font-weight: 300 !important;
        line-height: 21px !important;
        margin-bottom: 10px !important;

        @media screen and (max-width: 767px) {
            font-size: 100% !important;
        }
    }

    &--post-excerpt {
        text-align: center !important;
        font-size: 12px !important;
    }

    &--post-download {
        text-align: center !important;
        position: absolute !important;
        left: 20px !important;
        right: 20px !important;
        bottom: 15px !important;

        button {
            text-decoration: none !important;
            text-transform: uppercase !important;
            font-weight: 400 !important;
            font-size: 14px !important;
            border: none !important;
            background: none !important;
            cursor: pointer !important;

            &:after {
                content: "\f078" !important;
                font-family: FontAwesome !important;
                vertical-align: text-bottom !important;
            }
        }
    }
}