.template-404 {
    padding: 8% 0;

    .banner_404 {
        h2 {
            font-size: 250% !important;
        }
    }

    .content {
        margin: 50px 0;
        text-align: center;

        p {
            font-family: $font_one;
            font-size: 200%;
            margin: 0 0 15px;
        }

        form input[type="button"] {
            margin-top: 15px;
            background-color: $black;
            border: 2px solid $black;
            color: #ffffff;
            font-family: $font_one;
            font-size: 20px;
            font-weight: 600;
            padding: 10px 30px 9px;
            border-radius: 4px;
            line-height: 1;
            transition: background-color 0.20s, color 0.20s, border 0.20s ease-in-out;

            &:hover {
                background-color: rgba($black, .75);
            }
        }
    }
}
