
.resource {
    &--channel {
        width: 1340px !important;
        max-width: 100%;
        padding: 0 20px;
        margin: auto;

        @media screen and (max-width: 1200px) {
            padding: 0 15px !important;
        }
    }

    &--title-banner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-bottom: 1px solid $off-white;
        font-family: $font_one;
        padding-bottom: 2%;
        padding-top: 2%;
        background-color: #555459;

        @media screen and (max-width: 1024px) {
            padding: 20px 15px;
        }

        &__single {
            padding-bottom: 1.4%;
            padding-top: 1.4%;

        }

    }

    &--title-banner__pretitle {
        text-align: center;
        justify-content: center;
        font-family: $font_one;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
            font-size: 2.375em;
        }

        @media screen and (max-width: 500px) {
            font-size: 2.25em;
        }

    }

    &--title-banner__title {
        text-align: center;
        justify-content: center;
        font-family: $font_one;
        color: $white;
        font-weight: 500;

        @media screen and (max-width: 1024px) {
            font-size: 2.375em;
        }

        @media screen and (max-width: 500px) {
            font-size: 2.25em;
        }

        h1 {
            margin-bottom: 0 !important;
        }

    }

    &--title-banner__date {
        text-align: center;
        justify-content: center;
        font-family: $font_one;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
            font-size: 2.375em;
        }

        @media screen and (max-width: 500px) {
            font-size: 2.25em;
        }

    }
}
