/*
    REMOVE IMPORTANTS!!! THIS IS ONLY TEMPORARY SOLUTION
 */


.resource {

    &--featured-resources {

    }

    &--featured-top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &--slider-pager {
        flex: 1 1 50%;
        cursor: pointer;
        text-align: right;

        span {
            font-size: 55px;
            line-height: 1;
            color: $h-gray;
        }

        .cycle-pager-active {
            color: $teal;
        }
    }

    &--featured-title {
        color: $teal !important;
        line-height: 1;
        flex: 1 1 50%;
        margin-bottom: 0 !important;
    }

    &--featured-wrapper {

    }

    &--featured-post {

    }

    &--post {
        width: 100% !important;
        background-color: $white;
        padding: 0 !important;
        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .6);
        margin-bottom: 32px;

        &-wrapper {
            padding: 25px 50px 25px 25px !important;
            border: none !important;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                padding: 25px !important;
            }

            @media screen and (max-width: 400px) {
                padding: 15px !important;
            }

        }

    }

    &--download-type {

    }

    &--post-image {
        display: flex !important;
        flex-flow: row wrap;
        flex: 0 1 20%;

        @media screen and (max-width: 1150px) {
            flex: 0 1 35%;
        }

        @media screen and (max-width: 767px) {
            flex: 0 1 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 400px) {
            height: 175px !important;
        }
    }

    &--featured-img {
        flex: 0 1 250px !important;
        width: 250px !important;
        height: 250px !important;
        margin-bottom: 0 !important;
        border: 1px solid $border;
        border-radius: 1px;

        @media screen and (max-width: 1150px) {
            flex: 0 1 100% !important;
            width: 100% !important;
            height: 100% !important;
        }

        @media screen and (max-width: 767px) {
            flex: 0 1 100%;
        }

    }

    &--inner-wrap {
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 75%;
        align-content: center;

        @media screen and (max-width: 1150px) {
            flex: 0 1 60%;
        }

        @media screen and (max-width: 767px) {
            flex: 0 1 100%;
        }
    }

    &--post-title {
        font-size: 1.75em !important;
        text-align: left !important;
        flex: 0 1 100%;

        @media screen and (max-width: 767px) {
            margin-bottom: 20px !important;
        }

        a {
            text-decoration: none;
            line-height: 1.3em;
        }


    }

    &--post-excerpt {
        flex: 0 1 100%;
        font-size: 1.0em !important;
        text-align: left !important;
        margin-bottom:25px;

        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
    }

    &--post-download {
        @include button-style($white, $teal, $teal, .75);
        position: static !important;
        margin: 0;

        a {
            font-weight: 500;

        }

        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}