.resource {

    &--main-content {

    }

    &--video-player {
    }

    &__layout {
        background-color: $off-white;
        padding: 0 0 50px;
    }

    &__wrapper {
        border: none !important;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: $white;
        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .6);
        padding: 25px;
        margin-top: 50px;
    }

    &__main_wrapper {
        padding: 15px;
        color: $black;
        flex: 1 1 50%;

        &--video {
            padding: 15px
        }

        @media screen and (max-width: 1273px) {
            flex: 1 1 40%;
        }

        @media screen and (max-width: 1024px) {
            flex: 1 1 100%;
            order: 1;
        }
    }

    &__left_wrapper {
        flex: 0 1 25%;
        padding: 15px;
        color: $black;

        &--video {
            flex: 0 1 30%;
        }

        @media screen and (max-width: 1024px) {
            flex: 1 1 50%;
            order: 3;
        }

        @media screen and (max-width: 650px) {
            flex: 1 1 100%;
        }
    }

    &__right_wrapper {
        flex: 0 1 25%;
        padding: 15px;
        color: $black;
        text-align: center;

        @media screen and (max-width: 1024px) {
            flex: 1 1 50%;
            order: 2;
        }

        @media screen and (max-width: 650px) {
            flex: 1 1 100%;
        }
    }

    &__main_content {

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &--video {

        }
    }

    &--video-wrapper {

    }

    &__video_wrap {
        border-bottom: 4px solid $teal;
        background-color: $teal;
    }

    &__video_info {

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }

    }

    &__left_content, &__right_content {
        max-width: 100%;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__left_content {
        .resource--form {

            &__title {
                font-size: 110%;
                font-weight: 600;
                margin-bottom: 25px;
            }

            form {
                float: left;
                max-width: 100% !important;
            }
        }
    }

    &--embedded-pdf-viewer {
        margin-top: 25px;
        width: 100%;
        height: 100vh;

        iframe {
            width: 100%;
            height: 100%;
            border: 2px solid $teal;
        }
    }
}

.right_sidebar {

    &__wrap {
        max-width: 100%;
    }

    &__image {
        width: 100%;
        height: auto;

        img {
            border: 1px solid $border;
            width: 100%;
        }
    }

    &__download_button {
        @include button-style($white, $teal, $teal, .75);
        margin-top: 15px;
        margin-bottom: 0;
        width: 100%;

        a {

        }
    }
}