.single_tile {
    flex: 0 1 25%;
    padding: 25px;

    @media screen and (max-width: 1100px) {
        flex: 0 1 50%;
    }
    //
    //@media screen and (max-width: 768px) {
    //    flex: 0 1 50%;
    //}

    @media screen and (max-width: 575px) {
        flex: 0 1 100%;
    }

    &__wrap {
        background-color: $white;
        box-shadow: 0 5px 20px 0 rgba(158, 158, 158, .6);
        //padding: 15px 15px 20px;
        padding: 15px;

    }

    &__image {
        height: 175px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        border: 1px solid $border;
        border-radius: 1px;

        @media screen and (max-width: 1100px) {
            height: 200px;
        }

        @media screen and (max-width: 768px) {
            height: 175px;
        }
    }

    &__info {

    }

    &__type {
        padding-top: 10px;
        font-size: .95em;
        color: $teal;
        //font-weight: 500

    }

    &__name {
        padding-top: 10px;
        font-size: 1.15em;
        color: $teal;
        font-weight: 500;
        line-height: 1.25;

        a {
            text-decoration: none;
        }


        @media screen and (max-width: 575px) {
            min-height: initial !important;
        }
    }

}