.kmdg-resource-center {
    background-color: $off-white;

    .resource--widget {
        @import "widgets/recent-posts";
        background-color: $white;
    }

    @import "banner";
    @import "featured";
    @import "tile";
    @import "single";

    .resource {
        &_none {
            padding: 4% 0;

            form input[type="button"] {
                margin-top: 15px;
                background-color: $black;
                border: 2px solid $black;
                color: #ffffff;
                font-family: $font_one;
                font-size: 20px;
                font-weight: 600;
                padding: 10px 30px 9px;
                border-radius: 4px;
                line-height: 1;
                transition: background-color 0.20s, color 0.20s, border 0.20s ease-in-out;

                &:hover {
                    background-color: rgba($black, .75);
                }
            }
        }

        &_menu {
            @include tab_nav();
            padding-top: 40px;

            @media screen and (max-width: 768px) {
                padding-top: 15px;
            }

            .tab_nav {
                @media screen and (max-width: 768px) {
                    flex-direction: column;

                    .tab_nav__wrap {
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }

        &--form {
            #mktoForm_1673 {
                width: 500px !important;
            }
        }
    }

    .resource_tiles {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 25px;
        margin: 0 -25px;
        justify-content: flex-start;

        &--archive {
            padding-bottom: 75px;
        }

        @media screen and (max-width: 1024px) {
            justify-content: space-between;
        }

        &__meta {
            flex: 1 1 100%;
            display: flex;
            padding: 0 25px;
        }

        &__info_wrap {
            border-bottom: 3px solid $teal;
            width: 100%;
            flex: 1 1 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row wrap;
            padding-bottom: 5px;
        }

        &__type {
            flex: 1 1 75%;
            color: $teal;
            margin-bottom: 0;

            @media screen and (max-width: 600px) {
                flex: 1 1 60%;
            }

            @media screen and (max-width: 575px) {
                font-size: 1.5em;
                text-align: left;
            }

            &--archive {
                padding: 0 25px;
                flex: 1 1 100%;
                margin-bottom: 8px;
            }
        }

        &__link {
            flex: 1 1 25%;
            justify-items: flex-end;
            text-align: right;

            @media screen and (max-width: 600px) {
                flex: 0 1 35%;
            }
        }

        &__btn {
            @include button-style($white, $teal, $teal, .75);
            margin: 0;

            a {
                font-weight: 500;
                padding: 8px 20px 7px;
                font-size: 16px;

                @media screen and (max-width: 575px) {
                    padding: 7px 15px 6px;
                    font-size: 15px;
                }

            }

            &:hover {
                background-color: rgba($white, 0);
                a {
                    color: $teal;
                    border-color: $teal;
                    border-radius: 4px;
                }
            }
        }
    }
}
