.template-archive-leadership {
    background-color: $white;
}

.profiles-row {
    padding: 50px 0 0;
    justify-content: flex-start;
    text-align: left;

    @media screen and (max-width: 1024px) {
        padding: 25px 15px;
    }

    @media screen and (max-width: 500px) {
        justify-content: center;
        //text-align:center;
    }
}

.bod-row{

}

.leader_role {

    &--cards {
        flex: 0 0 100%;
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
        justify-content: flex-start;
    }

    &--bod {
        margin: 0 -15px;
    }

    @media screen and (max-width: 600px) {
        justify-content: center;
    }

    &__title {
        flex: 1 1 100%;
        color: $teal;
        font-weight: 600;
        padding: 50px 15px;
        margin: 0;

        &--executives {
            padding-top: 0;
        }

        @media screen and (max-width: 575px) {

        }
    }
}

//The individual leader card layouts
.single_profile {
    flex: 0 1 25%;
    padding: 0 15px 50px;

    @media screen and (max-width: 1024px) {
        flex: 0 1 33%;
        padding: 0 15px 40px;
    }

    @media screen and (max-width: 850px) {
        flex: 0 1 50%;
    }

    @media screen and (max-width: 500px) {
        flex: 1 1 100%;
        padding: 0 0 40px;
    }

    @media screen and (max-width: 300px) {
        padding: 0 0 25px;
    }

    &__wrap {
        background-color: $white;
        border: 1px solid #d9d9d9;
        max-width: 300px;
        position: relative;
        width:100%;
        margin: 0 auto;
        //box-shadow: 0 5px 15px 0 rgba(158, 158, 158, .75);
    }

    &__image {
        max-width: 300px;
        line-height: 0;
    }

    &__info {
        padding: 20px;
    }

    &__name {
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.25em;
        flex: 1 1 100%;
        height: 35px;

        a {
            text-decoration: none;
        }
    }

    &__role {
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.90em;
        flex: 1 1 100%;
        line-height: 1.2;

        @media screen and (max-width: 600px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 500px) {
            min-height: initial !important;
        }

    }

    &__bottom {
        flex: 1 1 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 35px;

        @media screen and (max-width: 600px) {
            align-items: center;
            height: auto;

            .single_profile__link {
                margin: 5px 0;
            }
        }

    }

    &__link {
        flex: 1 1 70%;
        font-size: 0.90em;
        text-decoration: none;
        font-weight: 500;

        a {
            text-decoration: none;
        }

    }

    &__linkedin {
        flex: 1 1 30%;
        text-align: right;
        font-size: 1.75em;
        line-height: 0;

        i {

        }
    }
}