.profile {
    padding: 75px 0 100px;

    @media screen and (max-width: 1024px) {
        padding: 50px 0 75px;
    }

    @media screen and (max-width: 550px) {
        padding: 25px 0 50px;
    }
    //
    //.col-md-8 {
    //
    //    @media screen and (max-width: 900px) {
    //        flex: 0 0 100%;
    //        max-width: 100%;
    //    }
    //
    //}
    //
    //.col-md-4 {
    //    @media screen and (max-width: 900px) {
    //        flex: 0 0 100%;
    //        max-width: 100%;
    //    }
    //}

    &__wrap {
        padding: 25px;
        position: relative;
        //box-shadow: 0 5px 20px 0 rgba(158, 158, 158, 1);

        @media screen and (max-width: 1024px) {
            padding: 35px 35px;
        }

        @media screen and (max-width: 767px) {
            padding: 30px 30px 25px;
        }

        @media screen and (max-width: 550px) {
            padding: 40px 40px 30px;
        }
    }

    &__left {

    }

    &__right {

    }

    &__role {
        font-size: 1.125em;
        margin-bottom: 20px;
        color: $gray;
    }

    &__name {
        color: $teal;
        margin-bottom: 20px;
        font-weight: 500;
        display: inline-block;
    }


    &__linkedin {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: $teal;
        text-decoration: none;
        display: inline-block;
        line-height: 0;
        margin-left: 25px;

        &:hover {
            color: rgba($teal, .75);
        }

        @media screen and (max-width: 1100px) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__bio {
        color: $black;
    }

    &__image {
        max-width: 350px;
    }

}